<div class="menu-button">
    <button mat-button>Home</button>
    <button mat-button>About</button>
    <button mat-button>Contact Us</button>
    <a routerLink = "list-taxpayer">
        <button mat-button>
        List Tax Payer
        </button>
    </a>   
    <a routerLink = "return-submit">
        <button mat-button>
        Submit Return
        </button>
    </a>

    <app-login-signup-menu *ngIf="showlogIn"></app-login-signup-menu>
    <app-logout-menu *ngIf="!showlogIn"></app-logout-menu>
   </div>